body
{
	color: orange;
	font-family:harrington;
	font-size: 69px;
}
body {
	background-image: url("bikelife.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 15% 45%;	
}
body {
	
form
{
	button 
	
	
	
	
	
}
img { 
	
} 